hr {
    border: 4px solid black;
}

h1 {
    font-size: 50px;
    font-family: "Arial", sans-serif;
}

h2 {
    font-size: 27px;
    font-family: "Arial", sans-serif;
    display: inline;
}

h5 {
    font-size: 11px;
    font-family: "Arial", sans-serif;
}

p {
    font-size: 18px;
    font-family: "Arial", sans-serif;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

.link {
    display: inline;
    white-space: nowrap;
}
button[type="submit"] {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

ul {
    list-style: none;
}

h3 {
    font-size: 20px;
    font-family: "Arial", sans-serif;
}

.error {
    color: red;
    font-size: 27px;
    font-family: "Arial", sans-serif;
}