<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<hr/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogging platform - home page</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1><a th:href="@{/}">Web Application Project Blogging Platform</a></h1>
  <hr/>
  <div class="posts-container">
      <div class="post" th:each="post : ${posts}">
        <h2><a th:href="@{'/posts/' + ${post.id}}"
               th:text="${post.title}">Title</a></h2>
        <h5 th:text="'Time: ' + ${post.createdAt}">Created At</h5>
        <p th:text="${post.content}">body text</p>
        <br>
    </div>
  </div>
  <hr/>
</div>
</body>
</html>