<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<hr/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogging platform - home page</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">

  <h1><a th:href="@{/}">Web Application Project Blogging Platform</a></h1>
  <hr/>
  <div sec:authorize="!isAuthenticated()" style="white-space: nowrap;">
      <h2><a th:href="@{/register}" th:class="link">Register</a></h2>
      <h2>•</h2>
      <h2><a th:href="@{/login}" th:class="link">Login</a></h2>
      <h2>•</h2>

  </div>
  <div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}"
          method="POST">
      <div>
        <label>Witaj, <span sec:authentication="name">nazwa_uzytkownika</span></label>
        <h2><a th:href="@{/posts/create}" th:class="link">Create</a></h2>
      </div>
      <button type="submit">Logout</button>
    </form>
  </div>
  <hr/>
  <div class="posts-container">
      <div class="post" th:each="post : ${posts}">
        <h2><a th:href="@{'/posts/' + ${post.id}}"
               th:text="${post.title}">Title</a></h2>
        <h5 th:text="'Author: ' + ${post.account.username}">Account Name</h5>
        <h5 th:text="'Time: ' + ${post.createdAt}">Created At</h5>
        <p th:text="${post.content}">body text</p>
        <br>
    </div>
  </div>
  <hr/>
</div>
</body>
</html>