<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<hr/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogging platform - login page</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1><a th:href="@{/}">Web Application Project Blogging Platform</a></h1>
  <hr/>
  <h2>Login</h2>
    <form action="#" th:action="@{/login}" method="post">
      <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" />
      </div>
      <button type="submit">Login</button>
    </form>
  <hr/>
</div>
</body>
</html>