<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<hr/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogging platform - post</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1> <a th:href="@{/}">Web Application Project Blogging Platform</a></h1>
  <hr/>
  <div class="post">
      <h2 th:text="${post.title}">Title</h2>
      <h5 th:text="'Author: ' + ${post.account.username}">Account username</h5>
      <h5 th:text="'Time: ' + ${post.createdAt}">Created At</h5>
      <h5 th:text="'Tags: ' + ${post.tag}">Tags</h5>
      <p th:text="${post.content}">content text</p>
  </div>
    <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}"><button type="submit">Edit</button></a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/posts/' + ${post.id} + '/delete'}"><button type="submit">Delete</button></a></li>
    </ul>
  <hr/>
<!--    placeholder komentowania - zmienic -->
    <div sec:authorize="isAuthenticated()">
    <form action="#"
          th:action="@{'/posts/create'}"
          th:object="${post}"
          method="POST">
        <input type="hidden" th:field="*{account}" />
        <input type="hidden" th:field="*{createdAt}" />
        <h2>Add comment</h2>
        <div>
            <label for="new-post-title">Title</label>
            <input id="new-post-title" type="text" th:field="*{title}" placeholder="Title"/>
        </div>
        <div>
            <label for="new-post-body">Body</label>
            <textarea id="new-post-body" th:field="*{content}"></textarea>
        </div>
        <button type="submit">Comment</button>
    </form>
    </div>
</div>
</body>
</html>