<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<hr/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogging platform - no access</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1> <a th:href="@{/}">Web Application Project Blogging Platform</a></h1>
  <hr/>
  <form action="#"
    <h2>Your account has no rights to perform this action!</h2>
  <hr/>
</div>
</body>
</html>