<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<hr/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogging platform - post</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" th:href="@{/icon.png}"/>
</head>
<body>
<div class="container">
  <h1> <a th:href="@{/}">Web Application Project Blogging Platform</a></h1>
  <hr/>
  <div class="post">
      <h2 th:text="${post.title}">Title</h2>
      <h5 th:text="'Author: ' + ${post.account.username}">Account username</h5>
      <h5 th:text="'Time: ' + ${post.createdAt}">Created At</h5>
      <h5 th:text="'Updated at ' + ${post.updatedAt}">Updated At</h5>
      <h5 th:text="'Tags: ' + ${post.tag}">Tags</h5>
      <p th:text="${post.content}">content text</p>
      <h3 th:text="'Views: ' + ${post.views}">views</h3>
      <h3 th:text="'Likes: ' + ${post.likes}">likes</h3>
  </div>
    <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{'/posts/' + ${post.id} + '/like'}"><button type="submit">Like</button></a></li>
        <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}"><button type="submit">Edit</button></a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/posts/' + ${post.id} + '/delete'}"><button type="submit">Delete</button></a></li>
    </ul>
  <hr/>
    <h2>Comments</h2>
    <div class = "comments" th:each="comment : ${comments}">
        <h5 th:text="'Author: ' + ${comment.account.username}">Account username</h5>
        <h5 th:text="'Time: ' + ${comment.createdAt}">Created At</h5>
        <p th:text="${comment.text}">content text</p>
        </hr>
    </div>
    <a th:href="@{'/posts/' + ${post.id} + '/comment'}"><button type="submit">Comment</button></a>
</div>
</body>
</html>